@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  color: #2a2a2a;
  font-size: 18px;
  line-height: 1.5;
}

.site-wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

cite {
  font-style: normal;
}

mark {
	background: #fff6a6;
	color: #483c0c;
}

a {
	color: #1460aa;
	text-decoration-thickness: 1px;
	text-decoration-color: #227ce2;
}

a:hover {
	color: #00aa55;
	text-decoration-color: #2fc57a;
}

.post-meta {
  font-size: .9rem;
}

.post-meta a,
.long-post h1 a {
  text-decoration: none;
}

/* SHORT POSTS */

.short-post {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 2rem 0;
  padding: 1.4rem 1.6rem 1.6rem;
}

.short-post .mb-post-icon {
  position: relative;
  top: 4px;
  margin-right: 3px;
}

.short-post .e-content {
  margin-top: 1rem;
}

.short-post .e-content p {
  margin: .6rem 0;
}

.short-post .e-content p:first-child {
  margin-top: 0;
}

.short-post .e-content p:last-child {
  margin-bottom: 0;
}

.short-post .e-content ul {
  margin: 0;
  padding: 0 1.2rem;
}

.short-post .e-content ol {
  margin: 0;
  padding: 0 1.5rem;
}

.short-post .e-content li {
  margin-bottom: .4rem;
}

.short-post .e-content ul li:last-child
.short-post .e-content ol li:last-child {
  margin-bottom: 0;
}


/* LONG POST */

.long-post {
  margin: 5rem 0;
  font-size: 1.25rem;
}

.long-post header {
  margin-bottom: 2rem;
}

.long-post h1 {
  font-size: 3rem;
  margin: 0 0 .2rem;
  line-height: 1.2;
}

.long-post footer {
  border-top: 1px solid #ddd;
	margin-top: 2rem;
  padding-top: .4rem;
}

.post-cat-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-cat-list li {
  display: inline;
  margin: 0;
  padding: 0;
}

.post-cat-list li::after {
  content: ', ';
}

.post-cat-list li:last-child::after {
  display: none;
}

.post-cat-list li:last-child::before {
  content: ' and ';
}


/* QUOTES */

blockquote {
	display: block;
	box-sizing: border-box;
	border-left: 1px solid #ddd;
	margin: 2rem 0;
	padding: .6rem 0 .6rem 1.6rem;
}

blockquote footer {
  margin-top: 1rem;
  font-size: .9rem;
}